<div class="container">
  <input [(ngModel)]="searchText" placeholder="filtrar por nombre..." class="text-center">
  <table class="table table-striped table-hover table-sm text-center">
    <thead class="btn-primary">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Empresa</th>
        <th scope="col">CIF - DNI</th>
        <th scope="col">Fecha Alta</th>
        <th scope="col">Activa</th>
        <th scope="col">Opciones</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies | filterByName: 'nombreEmpresa' : searchText"
        [className]="company.Activa == 1 ? '' : 'text-muted'">
        <td>{{company.codigoEmpresa == null ? 'Nueva' : company.codigoEmpresa}}</td>
        <td>{{company.nombreEmpresa}}</td>
        <td>{{company.CifDni}}</td>
        <td>{{company.FechaAlta | date:'dd/MM/yyyy' }}</td>
        <td>{{company.Activa == 1 ? 'Sí' : 'No'}}</td>
        <td><a (click)="toggleActive(company.codigoEmpresa)">{{ company.Activa == 1 ? 'desactivar' : 'activar' }}</a>
        </td>
        <td><a [routerLink]="['/company', company.codigoEmpresa]">Editar</a></td>
      </tr>
    </tbody>
  </table>
  <div style="width: 75%; margin: auto">
    <label>Nueva empresa:
      <input #companyName />
    </label>
    <label>CIF/DNI empresa:
      <input #cifDniCompany />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(companyName.value, cifDniCompany.value); companyName.value=''; cifDniCompany.value">
      añadir
    </button>
  </div>
</div>
