<div class="container h-75" style="margin-top: 90px">
  <div class="row">

    <div class="col-sm"></div>

    <div class="col-sm h-100 justify-content-center align-items-center">
      <form class="form col-sm" style="background-color: #5ec2c2; padding: 5%; border-radius: 20px;">
        <h3>Inicio de sesión</h3>
        <h4 style="color: darkslateblue;">{{ companyLogged != null ? companyLogged.nombreEmpresa : '' }}</h4>
        <span (click)="logoutCompany()"
          style="cursor: pointer; color: rgb(30, 34, 255);text-decoration-line: underline; font-size: 0.8em">
          Cambiar a otra empresa
        </span>
        <br>
        <br>
        <div class="form-group">
          <label for="username">Código de <b>empleado</b></label>
          <input type="text" #employeeId class="form-control" autocomplete="username" />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" #password class="form-control" autocomplete="current-password" />
        </div>
        <div class="form-group">
          <label style="color: darkblue">Recuérdame en este equipo&nbsp;<input type="checkbox" #rememberMe
              class="checkbox" /></label><br>
          <button type="submit" (click)="logIn(employeeId.value, password.value, rememberMe.checked, $event)"
            id="login-button2" class="btn btn-primary btn-block">Enviar</button>
          <img *ngIf="loading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div [ngClass]="alert.class" role="alert" *ngIf="alert.show">
          {{alert.msg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
