<div class="container">
  <div class="row">
    <div class="col"></div>
    <h4 class="display-5 col">Listado de empleados</h4>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <select [(ngModel)]="selectedCompany" placeholder="Filtrar por empresa" (change)="filterByCompany($event.target.value)">
        <option *ngFor=" let company of companies" [value]="company.codigoEmpresa">
          {{ company.nombreEmpresa }}
        </option>
      </select>
      <button class="btn btn-sm btn-info" (click)="getEmployees()">refresh</button>
    </div>
    <div class=" col">
      <input type="text" class="col" style="margin: auto" [(ngModel)]="searchText" placeholder="buscar por nombre...">
    </div>
    <div class="col"></div>
  </div>

  <table class="table table-striped table-hover table-sm" style="width: 80%; margin: auto">
    <thead class="btn-primary">
      <tr>
        <th scope="col">Empresa</th>
        <th scope="col">Empleado</th>
        <th scope="col">Nombre</th>
        <th scope="col">Activo</th>
        <td scope="col" colspan=2>Acciones</td>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of filteredEmployees | filterByName: 'nombreEmpleado' : searchText" class="font-weight-light">
        <td>
          <span class="badge badge-info">{{employee.codigoEmpresa == null ? 'Nueva' : employee.codigoEmpresa}}</span>
          {{employee.nombreEmpresa}}
        </td>
        <td>{{employee.codigoEmpleado}}</td>
        <td class="text-capitalize">{{employee.nombreEmpleado}}</td>
        <td>{{employee.activo == true ? 'Sí' : 'No'}}</td>
        <td><a class="badge badge-info" [routerLink]="['/employees']"
            (click)="toggleActive(employee)">{{ employee.activo == true ? 'desactivar' : 'activar' }}</a>
        </td>
        <td><a class="badge badge-primary" [routerLink]="['/employee', employee.codigoEmpleado]">Editar</a></td>
        <td><a class="badge badge-danger" [routerLink]="['/employees']" (click)="deleteEmployee(employee)">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="width: 80%; margin: auto">
    <label>Seleccione empresa&nbsp;
      <select #companyCode aria-placeholder="Seleccione empresa">
        <option *ngFor="let company of companies" [value]="company.codigoEmpresa">{{ company.nombreEmpresa }}</option>
      </select>
    </label>
    <input #employeeName placeholder="Nombre empleado" />
    <input #nifDniEmployee placeholder="Dni" />
    <!-- (click) passes input value to add() and then clears the input -->
    <button
      (click)="add(companyCode.value, employeeName.value, nifDniEmployee.value); companyCode.value=''; employeeName.value=''; nifDniEmployee.value = ''">
      añadir empleado nuevo
    </button>
  </div>
  <div class="col"></div>
</div>
