<div class="container" style="margin-top: 1%">
  <div class="jumbotron">
    <div class="card" style="width: 18rem; margin: auto">
      <img src="../../assets/user.png" class="card-img-top" style="width: 18rem" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ userLoggedName }}</h5>
        <p class="card-text">{{ userLoggedCompany }}</p>
        <p class="card-text">Última fichada {{ lastClockin }}</p>
        <a routerLink="/checkin" class="btn btn-primary">Fichar</a>&nbsp;&nbsp;
        <a routerLink="/" (click)="logout()" class="btn btn-primary">Salir</a>
      </div>
    </div>
  </div>

</div>

