<div class="container" style="margin-top: 1%">
  <form id="companyForm" name="companyForm">
    <div class="jumbotron" style="width: 50%; margin: auto">
      <h3 class="display-4">{{ company.nombreEmpresa }}</h3>
      <br />
      <label class="w-100">Código empresa: {{company.codigoEmpresa}}
      </label>

      <label class="w-100">Empresa <input type="text" #nombreEmpresa name="nombreEmpresa" (keydown)="dataChanged()"
          class="col" [(ngModel)]="company.nombreEmpresa" />
      </label>
      <label class="w-100">C.I.F./D.N.I. <input type="text" class="col" name="cifDni" (keydown)="dataChanged()"
          [(ngModel)]="company.CifDni" />
      </label>

      <label class="w-100">Fecha alta: {{ company.FechaAlta | date: 'dd-MM-yyyy'}}
      </label>


      <label class="w-100">Empresa {{ company.Activa == 1 ? 'activada':'desactivada'}}
        <input type="checkbox" checked="{{ company.Activa == 1 ? 'checked':'' }}" />
      </label>


      <div class="btn-group">
        <button type="button" class="btn {{!hasChanges ? 'btn-secondary' : 'btn-primary'}}" (click)="saveData(false)"
        style="text-align: center; margin: auto" (disabled)="companyForm.dirty">Guardar</button>
        <button type="button" class="btn btn-success" onclick="window.history.back()">Volver</button>
      </div>


    </div>

  </form>
</div>
