<div class="container" style="margin-top: 1%">
  <form>
    <div class="jumbotron" style="width: 50%; margin: auto">
      <h3 class="display-4">{{ company.nombreEmpresa }}</h3>
      <br />
      <label class="w-100">Código empresa <input class="col-sm-4" type="text" disabled="disabled"
          [value]="company.codigoEmpresa" />
      </label>

      <label class="w-100">Empresa <input type="text" #nombreEmpresa name="nombreEmpresa" (keydown)="dataChanged()"
          class="col" [(ngModel)]="company.nombreEmpresa" />
      </label>
      <label class="w-100">C.I.F./D.N.I. <input type="text" class="col" name="cifDni" (keydown)="dataChanged()"
          [(ngModel)]="company.CifDni" />
      </label>

      <label class="w-100">Fecha alta <input type="text" class="col" disabled="disabled" (value)="company.FechaAlta"
          name="fechaAlta" />
      </label>

      <label class="w-100">Activa <input class="col" type="checkbox" [(checked)]="company.Activa"
          (change)="activeChanged()" name="activa" />
      </label>

      <div class="w-100">
        <button class="w-40 btn {{!hasChanges ? 'btn-secondary' : 'btn-primary'}}" (click)="saveData(false)"
          style="text-align: center; margin: auto" disabled="{{!hasChanges ? 'disabled' : ''}}">Guardar</button>
        <button class="w-40 btn {{!hasChanges ? 'btn-secondary' : 'btn-primary'}}" (click)="saveData(true)"
          style="text-align: center; margin: auto" disabled="{{!hasChanges ? 'disabled' : ''}}">Guardar y salir</button>
      </div>
    </div>

  </form>
</div>
